# Local .terraform directories
.terraform/

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Terraform variable and plan files
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.tfstate.lock.info

# Terraform CLI config files
.terraformrc
terraform.rc

# Ignore SSH keys and secrets
*.pem
*.key
*.pub
terrakey
id_rsa
id_rsa.pub
.env
